<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072047630664-5uh989o3crj0o4f28i4mk8vduh3qjo8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072047630664-5uh989o3crj0o4f28i4mk8vduh3qjo8m</string>
	<key>API_KEY</key>
	<string>AIzaSyCZiedKCWcLwFotwxUemV2fo5tK6J5P2WE</string>
	<key>GCM_SENDER_ID</key>
	<string>1072047630664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dobro.SampleCrypto</string>
	<key>PROJECT_ID</key>
	<string>mycrypto-5beea</string>
	<key>STORAGE_BUCKET</key>
	<string>mycrypto-5beea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072047630664:ios:c4dc72cb6403fd096f2b7d</string>
</dict>
</plist>
